includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6

    paths:
        - app
        - routes
        - database

    excludePaths:
        analyseAndScan:
            - bootstrap/cache/*
            - storage/*
            - vendor/*
            - tests/*

    tmpDir: storage/framework/phpstan